# Open data analysis and model to predict the League of Legends World Championship (Python version)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import os

#directory_changed = False ## un comment this only the first time this cell is run

if(directory_changed == False):
    current_path = os.getcwd()
    inputs_path = current_path + '/data'
    os.chdir(inputs_path)

train_file = 'train_data.csv'
test_file = 'test_data.csv'

directory_changed = True

In [2]:
train_df= pd.read_csv(train_file)
test_df = pd.read_csv(test_file)

In [3]:
train_df.head()

,result,team,side,topwr_champ,jngwr_champ,midwr_champ,adcwr_champ,supwr_champ,topwr_player,jngwr_player,midwr_player,adcwr_player,supwr_player
0,1,Team WE,Blue,0.5000,0.4954,0.4928,0.5008,0.5318,0.581536,0.596491,0.656250,0.619048,1.000000
1,0,Lyon Gaming,Red,0.5000,0.5046,0.5072,0.4992,0.4682,0.545455,0.777778,0.500000,0.000000,0.600000
2,1,Cloud9,Blue,0.4391,0.4966,0.5562,0.5008,0.4786,0.700000,0.563228,0.733333,0.555556,0.636364
3,0,Team oNe Esports,Red,0.5609,0.5034,0.4438,0.4992,0.5214,0.500000,0.500000,0.000000,0.000000,0.000000
4,0,Gambit Esports,Blue,0.4837,0.4750,0.3970,0.4912,0.4950,0.333333,0.588235,0.500000,0.500000,0.500000

In [4]:
test_df.head()

,result,team,side,topwr_champ,jngwr_champ,midwr_champ,adcwr_champ,supwr_champ,topwr_player,jngwr_player,midwr_player,adcwr_player,supwr_player
0,0,Longzhu Gaming,Blue,0.4809,0.5204,0.4417,0.4912,0.4975,0.875000,0.333333,0.285714,0.500000,0.660000
1,1,Samsung Galaxy,Red,0.5191,0.4796,0.5583,0.5088,0.5025,0.529412,0.750000,1.000000,0.461538,0.750000
2,0,Longzhu Gaming,Blue,0.5000,0.5204,0.5003,0.4878,0.4876,0.508497,0.333333,0.666667,0.500000,0.357143
3,1,Samsung Galaxy,Red,0.5000,0.4796,0.4997,0.5122,0.5124,0.666667,0.750000,0.695652,0.461538,0.500000
4,1,Samsung Galaxy,Blue,0.4853,0.5222,0.4984,0.5122,0.5497,0.666667,0.750000,0.625000,0.461538,0.500000

We need to convert the *team* and *side* variables to cathegorical variables

In [8]:
train_df["team"] = train_df["team"].astype("category")
train_df["side"] = train_df["side"].astype("category")

In [10]:
train_df["team"].unique()

[Team WE, Lyon Gaming, Cloud9, Team oNe Esports, Gambit Esports, ..., EDward Gaming, AHQ e-Sports Club, Flash Wolves, Team SoloMid, Misfits]
Length: 24
Categories (24, object): [Team WE, Lyon Gaming, Cloud9, Team oNe Esports, ..., AHQ e-Sports Club, Flash Wolves, Team SoloMid, Misfits]